html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(68, 67, 67); /* Color de fondo de la página */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visor-section {
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-margin-top: 70px;
}

#inicio {
  scroll-margin-top: 70px;
}
